table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color: cyan;
}
th, td {
    padding: 10px;
    text-align: left;
}

img {
	width: 100px;
	height: 100px;
}
body{
	background-image: url("imagens/bck.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
h1{
	color: cyan;
}

.pontos{
	color: cyan;
	text-align: center;
}

button{
	margin-left: 640px;
}

.branco{
	filter: alpha(opacity=65);
}